*.DS_Store
*.bak
*.orig
*.pyc
*.pyo
*/__pycache__/
*~
.pypirc*
.idea/
build/
dist/
lerp.egg-info
MANIFEST.in
MOVE
data
docs/_build/
docs/lerp.log
lerp/C
sample/
src/util.py
tests/
lerp/core/libND*
lerp/mesh22.py
