*.DS_Store
*.bak
*.orig
*.pyc
*.pyo
*/__pycache__/
*~
.pypirc*
.idea/
build/
dist/
lerp.egg-info
MANIFEST.in
MOVE
data
docs/_build/
docs/lerp.log
sample/
src/util.py
lerp/C/trash
lerp/C/NDTable
lerp/mesh22.py
lerp/mesh.c
lerp/mesh.cpython*
build*
lerp/core/*.so
lerp/core/interpolation.c
