
#right-column {
    max-width: 1400px!important;
}

.wy-nav-content {
    min-width : 100%;
}



[role |="navigation"] ul {
  counter-reset: item;
}

[role |="navigation"] ul {
  list-style: none;
}

[role |="navigation"] ul li.toctree-l1 {
  counter-increment: item;
}

[role |="navigation"] ul li.toctree-l1 > a:before {
  border-radius: 100%;
  content: counter(item);
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}



div.input_area>div.highlight>pre {
  padding: 1px;
}

.cell div.input_area {
    border: 0;
    background: rgb(244, 244, 248);
}

.cell .cm-s-ipython span.cm-keyword {
    color: #447bdc;
}

div.section h1,
div.section h2,
div.section h3,
div.section h4,
div.section h5,
div.section h6 {
    font-family: "Open sans",verdana,arial,sans-serif;
    font-weight: 300;
    color:#0089fe;
    font-style: normal;
    display: block;
    white-space: nowrap;
    /*    margin: 0;*/
}

div.section h1 {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.25px;
}

div.section h2 {
    font-size: 42px;
    line-height: 47px;
}

div.section h3 {
    font-size: 36px;
    line-height: 40px;
}

.cell h4 {
    font-size: 30px;
    line-height: 33px;
}

.cell h5 {
    font-size: 24px;
    line-height: 26px;
}

.cell h6 {
    font-size: 18px;
    line-height: 20px;
}

.cell h1:hover .anchor-link,
.cell h2:hover .anchor-link,
.cell h3:hover .anchor-link,
.cell h4:hover .anchor-link,
.cell h5:hover .anchor-link,
.cell h6:hover .anchor-link {
    visibility: visible;
}

.cell a.anchor-link {
    visibility: hidden;
}

.cell div.text_cell_render{
    font-family: "Open sans",verdana,arial,sans-serif;
    line-height: 110%;
    text-align:justify;
    text-justify:inter-word;
    color: #1e4a7b;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
}
.cell div.text_cell_render p{
    color: #1e4a7b;
    font-size: 18px;
    line-height: 25px;

}
.cell.code_cell{
    font-size: 14px;
}

.cell code {
  color: #1e4a7b;
}

.cell div.output_subarea.output_text.output_pyout {
    overflow-x: auto;
    overflow-y: scroll;
    max-height: 300px;
}
.cell div.output_subarea.output_stream.output_stdout.output_text {
    overflow-x: auto;
    overflow-y: scroll;
    max-height: 300px;
}
.cell div.output_subarea.output_html.rendered_html {
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 100%;
  /*  overflow-y: scroll; */
  /*  max-height: 300px;   */
}

.cell .rendered_html code{
    background-color: transparent;
    white-space: inherit;
}
.cell ul{
    /* color:#265cc3; */
    margin: 2em;
}
.cell ul li{
    padding-left: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.cell ul li li{
    padding-left: 0.2em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}
.cell ol{
    /* color:#265cc3; */
    margin: 2em;
}
.cell ol li{
    padding-left: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.cell /*.prompt{
    display: None;
} */
.cell ul li{
    padding-left: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
}
.cell a{
  font-weight: bold;
}
.cell a.prompt {
  text-decoration: initial;
  font-weight: normal;
}
.cell a:link{
   color:#265cc3;
}
.cell a:visited{
   color: #1d3b84;
}
.cell a:hover{
   color: #1d3b84;
}
.cell a:focus{
   color:#265cc3;
}
.cell a:active{
   color:#265cc3;
}
.cell .rendered_html :link {
   text-decoration: none;
}
.cell .rendered_html :hover {
   text-decoration: none;
}
.cell .rendered_html :visited {
  text-decoration: none;
}
.cell .rendered_html :focus {
  text-decoration: none;
}
.cell .rendered_html :active {
  text-decoration: none;
}
.cell .warning{
    color: rgb( 240, 20, 20 )
}
.cell hr {
  color: #f3f3f3;
  background-color: #f3f3f3;
  height: 1px;
}
.cell blockquote{
  display:block;
  background: #f3f3f3;
  font-family: "Open sans",verdana,arial,sans-serif;
  width:610px;
  padding: 15px 15px 15px 15px;
  text-align:justify;
  text-justify:inter-word;
  }
.cell   blockquote p {
    margin-bottom: 0;
    line-height: 125%;
    font-size: 100%;
  }

code{
  font-weight: 200 !important;
}


.output_area table {
/*        margin-left: auto;
        margin-right: auto;*/
        border: none;
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 12px;
        table-layout: fixed;
}

.output_area thead {
        border-bottom: 1px solid;
        vertical-align: bottom;
    }
.output_area tr,
.output_area th,
.output_area td {
        text-align: right;
        vertical-align: middle;
        padding: 0.5em 0.5em;
        line-height: 1.0;
        white-space: nowrap;
        max-width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        border: none;
    }

.output_area th {
        font-weight: bold;
    }

.output_area tbody tr:nth-child(odd) {
        background: #f5f5f5;
    }
